/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html {
    font-size: 85%; /* This will reduce the size to 90% of the default */
  }
  
  body{
    font-family: 'Open Sans', sans-serif; 

  }
 
nav{
  background-color: #02091d;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  font-size: 1.5rem;
}

nav a{
  margin-right: 60px;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  transition: transform 0.3s ease;
}
nav a:hover{
  background-color: #0b3658;
  transform: scale(0.9);
}
.head a{
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 40px;
  transition: none;
}
.head a:hover{
  background-color: #02091d;
  transform: none;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
  color: black;
}
.menu-button{
  display: none;
}
nav .new a{
  background-color: #f57e00;
  padding: 10px;
  border-radius: 20px;
}



  
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    .head a{
      font-size: 2.4rem;
      font-weight: bold;
      margin-left: 0px;
    }
    .menu-button a{
      margin-right: 2px;
    }
    nav{
      padding: 20px;
    }
  }
  @media(max-width: 500px){
    .sidebar{
      width: 100%;
    }
    nav a{
      margin-right: 5px
    }
    .head a{
      font-size: 2.4rem;
      font-weight: bold;
      margin-left: 0px;
    }
    .menu-button a{
      margin-right: 2px;
    }
    nav{
      padding: 20px 9.5px 20px 9.5px;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
    nav a{
      margin-right: 5px
    }
    .head a{
      font-size: 2.4rem;
      font-weight: bold;
      margin-left: 0px;
    }
    .menu-button a{
      margin-right: 0px;
    }
    nav{
      padding: 16px 7px 16px 7px;
    }
  }
  

  /*below it about section */

  main{
   padding: 50px 10px 30px 8px;
  }
  main h1{
    font-size: 2rem;
    padding-bottom: 7px;

  }
  main p{
    font-size: 1.2rem;
    padding-bottom: 20px;
    line-height: 1.8;
    font-weight: 500px;
  }
  span{
    text-decoration: underline;
  }