/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html {
    font-size: 85%; /* This will reduce the size to 90% of the default */
  }
  
  body{
    font-family: 'Open Sans', sans-serif; 
    line-height: 1.6; 

  }
  nav{
    background-color: #030b24;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 35px;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
    font-size: 1.5rem;
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 40px;
  }
  nav a{
    margin-right: 60px;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  nav a:hover{
    background-color: #085da3;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
    color: black;
  }
  .menu-button{
    display: none;
  }

  
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 490px){
    .sidebar{
      width: 100%;
    }
    nav a{
      margin-right: 5px
    }
  }

  /*below it about section */

  main{
  
   padding: 50px 10px 30px 8px;
  }
  .features ,.security ,.focus ,.mission ,.intro h1{
    font-size: 1.7rem;
  
  }
  .features ,.security ,.focus ,.mission ,.intro p{
    font-size: 1.2rem;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  span{
    font-weight: bold;
  }
  .features li{
    font-size: 1.2rem;
    font-weight: lighter;
    text-decoration: dotted;
 
  }
  .features ul{
    padding-top: 15px;
    padding-bottom: 15px;
  }