*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 85%; /* This will reduce the size to 90% of the default */
}
body{
  font-family: 'Open Sans', sans-serif; /* Default font for the entire document */
  line-height: 1.6; /* Improve readability */
  color: #333; /* Default text color */
}

nav{
  background-color: #030b24;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 35px;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  font-size: 1.5rem;
}
.head a{
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 40px;
}
nav a{
  margin-right: 60px;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover{
  background-color: #085da3;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 0px;
  }
  .menu-button a{
    margin-right: 2px;
  }
}
@media(max-width: 500px){
  .sidebar{
    width: 100%;
  }
  nav a{
    margin-right: 5px
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 0px;
  }
  .menu-button a{
    margin-right: 2px;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  nav a{
    margin-right: 5px
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 0px;
  }
  .menu-button a{
    margin-right: 0px;
  }
}



    .container{
      width: 1000px;
      display: flex;
      margin: 0 auto;
      margin-top: 70px;
      gap: 60px;
    }
    .container .left .book img{
      border-radius: 20px;
      height: 220px;
      width: 330px;
    }
    .container .left .details{
     text-align: center;
    }
    .container .right .info h1{
      font-size: 1.3rem;
      font-weight: normal;
    }
    .container .right .email{
      text-align: center;
      margin-top: 30px;
    }
    .container .right .email a{
      color: white;
      text-decoration: none;
      background-color: rgb(7, 105, 73);
      padding: 15px 25px 15px 25px;
      border-radius: 10px;
      font-size: 1rem;
      font-weight:bold;
      }
      .social_media{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 30px;
      }
 @media(max-width:500px){
    
  .container{
    width: 420px;
    flex-direction: column;
    gap: 30px;
  }
  .container .left .book img{
    border-radius: 20px;
    height: auto;
    width: 100%;
  }
}
  @media(max-width:420px){
    
    .container{
      width: 340px;
      flex-direction: column;
      gap: 20px;
    }
    .container .left .book img{
      border-radius: 20px;
      height: auto;
      width: 100%;
    }
 }