*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-size: 85%; /* This will reduce the size to 90% of the default */
  }
  body {
  background-color: #030d2b;
  font-family: 'Open Sans', sans-serif; /* Default font for the entire document */
  line-height: 1.6; /* Improve readability */
  color: #333; 
  }
/* nabar css */

nav{
  background-color: #02091d;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  font-size: 1.5rem;
}

nav a{
  margin-right: 60px;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  transition: transform 0.3s ease;
}
nav a:hover{
  background-color: #0b3658;
  transform: scale(0.9);
}
.head a{
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 40px;
  transition: none;
}
.head a:hover{
  background-color: #02091d;
  transform: none;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 0px;
  }
  .menu-button a{
    margin-right: 2px;
  }
  nav{
    padding: 20px 10px 20px 10px;
  }
  nav{

    padding: 20px;
  }
}
@media(max-width: 500px){
  .sidebar{
    width: 100%;
  }
  nav a{
    margin-right: 5px
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 0px;
  }
  .menu-button a{
    margin-right: 2px;
  }
  nav{
    padding: 20px 9.5px 20px 9.5px;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  nav a{
    margin-right: 5px
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 0px;
  }
  .menu-button a{
    margin-right: 0px;
  }
  nav{
    padding: 16px 7px 16px 7px;
  }
}



/* here below post section */

.forms{
  background-image: url("../images/back.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 600px;
  height: 100%;
  padding-left: 120px;
  padding-right: 110px;
  padding-top: 30px;
  border-radius: 20px;
  padding-bottom: 30px;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}



.editForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    flex-direction: column;
    gap: 5px;
}
label{
   
   color: antiquewhite;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;

    
}
input{
    background: white;
    height: 50px;
    width: 24.4rem;
    border-radius: 20px;
    margin-top: 6px;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.forms .image{
  padding-top: 10px;
}
.forms .photo{
  padding-top: 12px;
}

.full-width{
    background: darkcyan;
    border-radius: 20px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 15px;
    font-weight: bold;
    margin-top: 10px;
    transition: transform 0.3s ease;;
}
.full-width:hover{
  transform: scale(0.9);;
}
textarea{
  
  background-color: white;
  width: 90%;
  height: 150px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 1.2rem;
  resize: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin-top: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-bottom: 10px;
}

textarea.invalid {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  display: none;
}

.error-message.visible {
  display: block;
}

.word-count {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

@media (max-width:490px){
  .forms{
    width: 420px;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  input{
    width: 22.8rem;
   }
   textarea{
    width: 22.8rem;
   }
}
@media (max-width:420px){
  .forms{
    width: 350px;
    padding: 30px 30px 20px 30px;
  }
  input{
    width: 21.4rem;

   }
   textarea{
    width: 21.4rem;
   }

 
}
























