/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  
}
html {
  font-size: 85%; /* This will reduce the size to 90% of the default */
}

body {
 
    font-family: 'Open Sans', sans-serif; /* Default font for the entire document */
    color: #333; /* Default text color */
    background-color: #030d2b;
}

nav{
  background-color: #02091d;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 35px;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  font-size: 1.5rem;
}
.head a{
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 40px;
}
nav a{
  margin-right: 60px;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover{
  background-color: #085da3;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 500px){
  .sidebar{
    width: 100%;
  }
  nav a{
    margin-right: 5px
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 8px;
  }
  .menu-button a{
    margin-right: 2px;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  nav a{
    margin-right: 5px
  }
  .head a{
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 0px;
  }
  .menu-button a{
    margin-right: 0px;
  }
}




/*here intro css is written */
.intro{
  background-image: url("../images/back.png");
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  width: 1220px;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  padding: 30px;
  gap: 10px;
  margin-top: 60px;
}
.left{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left .topic{
  color: white;
  font-size: 2.2rem;
  line-height: normal;
}
.left .quote{
  color: white;
  font-size: 1.5rem;
}
@media (max-width : 850px){
  .intro{
      width: 770px;
      padding: 10px;
      gap: 5px;
      margin-top: 30px;
  }
  .left .topic{
      font-size: 1.5rem;
  }
  .left .quote{
      font-size: 1rem;
  }
  .right .laptop img{
      height: 330px;
      width: 420px;
  }
}
@media (max-width : 770px){
  .intro{
      width: 700px;
      margin-top: 30px;
      padding: 10px;
      gap: 5px;
  }
  .left .topic{
      font-size: 1.4rem;
  }
  .left .quote{
      font-size: .8rem;
  }
  .right .laptop img{
      height: 330px;
      width: 420px;
  }
}



@media (max-width : 500px){
  .intro{
      width: 440px;
      margin-top: 20px;
      flex-direction: column-reverse;
      padding: 15px;
      gap: 5px;
  }
  .left .topic{
      font-size: 1.5rem;
  }
  .left .quote{
      font-size: 1.2rem;
  }
  .right .laptop img{
      height: 330px;
      width: 410px;
  }

}
@media (max-width : 440px){
  .intro{
      width: 360px;
      margin-top: 20px;
      flex-direction: column-reverse;
      padding: 15px;
      gap: 5px;
  }
  .left .topic{
      font-size: 1.4rem;
  }
  .left .quote{
      font-size: 1.2rem;
  }
  .right .laptop img{
      height: 280px;
      width: 350px;
  }

}


/* here blog post css is here */


.container{
  background-image: url("../images/back.png");
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  width: 1220px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  gap: 20px;
}
.left_img .btn{
margin-top: 10px;
}
.left_img .btn a{
  color: white;
  font-size: 1.8rem;

}
.right_text{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left_img .photo img{
  height: 180px;
  border-radius: 10px;
}
.right_text .heading{
  font-size: 1.3rem;

}
.right_text .time,.text,.name{
  font-size: 15px;

}
.right_text .name h2{
  color: rgb(12, 156, 156);
}

.left_img .btn a{
  font-size: 1.5rem;
  padding: 5px;
  font-weight: bold;
}
.left_img .btn .update{
  color: rgb(6, 128, 47);
}
.left_img .btn .delete{
  color: rgb(185, 9, 9);
}
.posts .head{
  font-size: 2.8rem; 
  margin-top: 40px;
  margin-left: 80px; 
  margin-bottom: 30px;
  color:white;

}
@media (max-width : 850px){
  .container{
      margin-top: 10px;
      width: 770px;
  }
  .container .left_img .photo img{
    width: 100%;
      height: auto;
  }
   .container .right_text .heading{
    font-size: 1.2rem;
    padding-left: 0px;
    line-height: normal;
  
  }
  .container .right_text .time,.text,.name{
    font-size: 12px;
  }
  .container .right_text .text{
    font-size: 15px;
  }
  .posts .head{
    font-size: 2rem;
   margin-left: 20px;

  }
}
@media (max-width : 770px){
  .container{
      margin-top: 10px;
      width: 700px;
  }
  .container .left_img .photo img{
    width: 100%;
      height: auto;
  }
   .container .right_text .heading{
    font-size: 1.2rem;
    padding-left: 0px;
    line-height: normal;
  
  }
  .container .right_text .time,.text,.name{
    font-size: 12px;
  }
  .container .right_text .text{
    font-size: 15px;
  }
  .posts .head{
    font-size: 2rem;
   margin-left: 20px;

  }
}


@media (max-width : 500px){
  .container{
      margin-top: 10px;
      width: 440px;
      flex-direction: column;
  }
  .container .left_img .photo img{
      display: none;
  }
   .container .right_text .heading{
    font-size: 1.2rem;
    padding-left: 0px;
    line-height: normal;
  
  }
  .container .right_text .time,.text,.name{
    font-size: 12px;
  }
  .container .right_text .text{
    font-size: 15px;
  }
  .posts .head{
    font-size: 2rem;
   margin-left: 20px;

  }
  
.left_img .btn a{

  padding: 0px;
 
}
}
@media (max-width : 440px){
  .container{
      margin-top: 10px;
      width: 360px;
      flex-direction: column;
  }
  .container .left_img .photo img{
    display: none;
  }
   .container .right_text .heading{
    font-size: 1.2rem;
    padding-left: 0px;
    line-height: normal;
  
  }
  .container .right_text .time,.text,.name{
    font-size: 12px;
  }
  .container .right_text .text{
    font-size: 15px;
  }
  .posts .head{
    font-size: 2rem;
   margin-left: 20px;

  }
  .left_img .btn a{

    padding: 0px;
   
  }
}

